@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap");

:root {
  --main-color: #0529f281;
  /*Boks */
  --black: #ffffffcf;
  /*Bakgrunn */
  --bg: rgba(244, 244, 244, 0.926);
  /*Bord */
  --border: 0.01rem solid rgba(0, 0, 0, 0.194);
}

* {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  transition: 0.2s linear;
}

html::-webkit-scrollbar {
  width: 0.8rem;
}

html::-webkit-scrollbar-track {
  background: transparent;
}

html::-webkit-scrollbar-thumb {
  background: #fff;
  border-radius: 5rem;
}

body {
  background: var(--bg);
  overflow-x: hidden;
}

.bokser {
  border: groove rgba(178, 178, 178, 0.456);
  margin-bottom: 5%;
  margin: 10px;
  padding: 20px;
  border-radius: 10px;
  line-height: 20px;
}
.bokser p {
  font-size: 16px;
  font-weight: 800;
  font-style: italic;
  text-align: center;
}

.service h4 {
  height: 55px;
  width: 80%;
  background: #fff;
  margin: 10px auto;
  position: relative;
  text-align: center;
  font-size: 35px;
}
.service h4::after {
  content: "";
  width: 40px;
  height: 30px;
  background: linear-gradient(to right, #fff, #007bff);
  position: absolute;
  right: -5px;
  top: -5px;
  z-index: -1;
}

.service {
  background: #fff;
  padding: 0 30px;
  border-radius: 10px;
  position: relative;
  bottom: 0px;
  z-index: 1;
  margin-top: 80px;
}

.img-circle {
  z-index: 2;
}

.fa-star,
.fa-star-half-alt {
  color: var(--main-color);
}

.scroll-btn {
  opacity: 0;
  width: 50px;
  height: 50px;
  color: #fff;
  background-color: var(--main-color);
  position: fixed;
  bottom: 5%;
  right: 5%;
  border: 1px solid transparent;
  border-radius: 5px;
  font: bold 20px monospace;
  transition: opacity 150ms, transform 150ms;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.194);
  pointer-events: none;
  z-index: 5;
}
.scroll-btn.show {
  opacity: 1;
  transition: opacity 300ms, transform 300ms;
  pointer-events: all;
}
